body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-image: url('Tumblr.jpeg'); /* tu imagen de fondo */
  background-size: cover; /* que cubra toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* para que no se mueva al hacer scroll */
}

.encabezado {
  background-color: #D5451B;
  padding: 50px 0;
  text-align: center;
}

.encabezado h1 {
  font-family: 'Allura', cursive;
  font-size: 6rem;
  color: #F4E7E1;
  margin: 0;
  text-shadow: 2px 2px 4px #521C0D;
}

/* Barra de navegación */
.barra-nav {
  background: linear-gradient(to right, #521C0D, #7A2D12);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.barra-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 35px;
}

.barra-nav li {
  position: relative;
}

.barra-nav a {
  display: inline-block;
  background: linear-gradient(90deg, #FF9B45, #D5451B);
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.barra-nav a:hover {
  background: linear-gradient(90deg, #D5451B, #FF9B45);
  transform: scale(1.08);
  color: #491507;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.quienes-somos p {
  color: #F4E7E1;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Playfair Display"   /* ← ¡acá falta cerrar con ; */
}
.quienes-somos .contenido img {
  width: 250px;
  border-radius: 10px;
  transition: transform 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.quienes-somos .contenido img:hover {
  transform: scale(1.08);
}

.quienes-somos h2 {
  color: #FF9B45;
  font-size: 2.5rem;
  font-family: 
'Allura', cursive;
  margin-top: 30px;
  margin-bottom: 10px;
}

.quienes-somos p {
  color: #F4E7E1;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Playfair Display" }
.quienes-somos {
  background-color: #521C0D;
  border: 5px solid #FF9B45;
  margin: 40px auto;
  padding: 40px 20px;
  border-radius: 12px;
  max-width: 800px;
  text-align: center;
}

.quienes-somos .contenido img {
  width: 250px;
  border-radius: 10px;
  transition: transform 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.quienes-somos .contenido img:hover {
  transform: scale(1.08);
}

.quienes-somos h2 {
  color: #FF9B45;
  font-size: 2.5rem;
  font-family: 'Allura', cursive;
  margin-top: 30px;
  margin-bottom: 10px;
}

.quienes-somos p {
  color: #F4E7E1;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 1.6;
  font-family: "Playfair Display", serif;
}
